body{
    background-color: black;
}

h1{
    color: white;
    border: 2px black;
    text-align: center;
}

img{
    position: absolute;
    top: 50px;
    left: 250px;
    border: 2px white;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}